.box{
    width: 200;
    height: 300;
    color: black;
    padding: 10px;
    margin: 15px;
    border-color: #ffa400;
    border-radius: 4px;
    text-align: center;
    background-color: gold ;
}
.any{
    max-width: 600px;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

}
.more{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block{
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1672652262465-9745550b4a3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80") 
    no-repeat center right / cover ;
}
image{
    display: block;
}
.image{
    width: 40rem; height: 40rem;
    border-radius: 50%;
    object-fit: cover;
}
.link{
    text-decoration: none;
    padding: 1rem 5rem;
    text-align: center;
    color: white;
    background-color: violet;
    margin-left: 2rem;
}
.link--rounded{
    border-radius: 4px;
}
.link--round{
    border-radius: 2rem;
}
.link:hover{
    color: black;
    background-color: white;
}