:root {
  --primary-color: red;
  --secondary-color: green;
}
/*var(--primary-color)*/
img {
  display: block;
  max-width: 100%;
}
.boxed {
  width: 20rem;
  height: 20rem;
  background-image: linear-gradient(to right bottom, #00aefd, #ffa400);
  cursor: pointer; /*  khi di chuyen vao hinh anh chuyen thanh con tro */
  opacity: 0; /*van chiem dien tich van co the nhan vo duoc*/
  visibility: hidden; /*van chiem dien tich nhung ko nhan vo duoc*/
  display: none; /*ko chiem dien tich ko nhan vo duoc*/
}
.title1 {
  font-weight: bold;
  font-size: 3rem;
  display: inline block;
  margin-top: 2rem;
  margin-left: 2rem;
  color: #ffa400;
}
/*kiem tra thuoc tinh co ho tro hay khong8*/
@supports (-webkit-background-clip: text) {
  .title {
    color: transparent;
    background-image: linear-gradient(to right bottom, red, white);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
/* Dung 2 hinh nen trong suot
    can su dung mau rgb cho hinh anh nam phia tren */
.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 118, 253, 0.747),
      rgba(255, 166, 0, 0.815)
    ),
    url("https://images.unsplash.com/photo-1615044151066-77663b5990b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
}
/* chinh mau shadow cho khoi */
.shadow {
  width: 20rem;
  height: 20rem;
  background-color: #fd0094;
  margin: 5rem auto;
  box-shadow: 5px 5px 5px 5px rgba(255, 0, 0, 0.753);
  /* box-shadow: x y blur scale color; */
}
/* chinh mau shadow cho text */
.shadow-text {
  font-size: 5rem; /* chinh mau shadow cho text */
  color: black;
  font-weight: bold;
  text-shadow: 5px 5px 10px red;
}
#title {
  color: #fd0076;
}
.title {
  font-size: 5rem;
  font-weight: bold;
  color: #ffa400;
}
h3 {
  color: aqua !important;
}
h3.title {
  color: blueviolet;
}
/* Tags < Class < ID < Inline < !important */
ul {
  font-size: 4rem;
  font-weight: bold;
}
li:first-child {
  color: rebeccapurple;
}
li:last-child {
  color: #fd0076;
}
li:nth-child(2) {
  color: #ffa400;
}
li:nth-last-child(2) {
  color: aquamarine;
}
li:not(:first-child) {
  color: black;
}
li:nth-child(odd) {
  color: cornflowerblue;
}
li:nth-child(even) {
  color: crimson;
}
li:first-of-type(2) {
  color: chocolate;
}
h3 + .title {
  color: green;
}
h3 ~ .title2 {
  color: aqua;
}
a[href^="https"] {
  color: rgba(9, 255, 0, 0.753);
}
a[href^=".vn"] {
  color: rgba(64, 6, 172, 0.753);
}
a[href*="www"] {
  color: #fd0094;
}
div[data-title="value"] {
  color: #fd0000;
}
p::first-letter {
  color: red;
  font-weight: bold;
  font-size: 4rem;
}
p::first-line {
  color: #ffa400;
}
.boxed2 {
  width: 20rem;
  height: 20rem;
  background-color: #fd0000;
  opacity: 0;
  /* display: none; */
  /* transition: background-color 2s linear, color 0.2s linear;
    transition-delay: 2s; */
  transition: all 0.5s linear;
  /* margin: 0 auto; */
  text-align: center;
  font-size: 7rem;
}
/* transition: background-color 0.2s linear;
    transition-delay: 2s;
    transition: property timer 2s easing */
.wrap {
  width: 20rem;
  height: 20rem;
}
.wrap:hover .boxed2 {
  display: inline-block;
}
.boxed2:hover {
  opacity: 1;
  background-color: #00ff15;
  color: aliceblue;
}
